@import "variable";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    border: none;
}

.icon, .check{
    color: $colorA;
    @include size(map-get($fontsize, "larg"), map-get($fontsize, "larg"));
    text-align: center;
    line-height: 35px;
}
.check{
    .fas{
        display: block;
        line-height: 35px;
        display: none;
    }
    .fa-check{
        color: #00c800;
    }
    .fa-times{
        color: #c80000;
    }
}
button:focus{
    outline: none;
    border: none;
}
body{
    width: 100%;
    .background-img{
        @include size(100%, 100%);
        @include postion(fixed, 0, auto, auto, 0);
        z-index: -1;
        img{
            @include size(100%, 100%);
            object-fit: cover;
            filter: blur(3px);
        }
    }
    main{
        width: 100%;
        min-height: 100vh;
        @include flix(space-between, stretch, column);
        nav{
            @include size(100%, auto );
            padding: 36px 15%;
            @include flix(space-between, center);
            a{
                @include color($colorB, transparent, map-get($fontsize, "normal")*2);
                font-family: 'Righteous', cursive;
            }
            button{
                padding: 0 32px;
                @include color($colorC, $colorA, map-get($fontsize, "small"));
                @include size(auto, map-get($fontsize, "small")*2);
                position: relative;
                overflow: hidden;
                &::after{
                    content: '';
                    @include fullsize();
                    @include postion(absolute, 0, auto, auto, -100%);
                    background-color:$colorA ;
                }
                &:hover::after{
                    left: 110%;
                    transition: .3s;
                }
                &::before{
                    content: '';
                    @include fullsize();
                    @include postion(absolute, 0, auto, auto, -150%);
                    background-color: rgb(255, 255, 255) ;
                }
                &:hover::before{
                    left: 110%;
                    transition: .5s;
                }
            }
        }
        .form-area{
            @include size(400px, 400px);
            @include postion(relative, auto, auto, auto, 50%);
            @include transform(-50%, 0);
            .form1{
                @include fullsize();
                @include postion(absolute, 0, 0, 0, 0);
                form{
                    @include fullsize();
                    @include flix(center, center, column);
                    .input{
                        width: 100%;
                        @include flix(center, center, row);
                        @include mzpd(8px, 0, 0, 0);
                        .icon{
                            margin-right: -35px;
                        }
                        .check{
                            margin-left: -35px;
                        }
                        input{
                            width: 80%;
                            @include mzpd(0, 0, 8px, 40px);
                            border-bottom: 2px solid $colorA;
                            @include color($colorA, transparent, map-get($fontsize, "small"));
                            text-transform: none;
                            &:focus{
                                outline: none;
                            }
                            &::placeholder{
                                color: $colorA;
                                text-transform: capitalize;
                            }
                        }
                    }
                        .gender{
                            margin-top: 8px;
                            width: 80%;
                            display: flex;
                            border-bottom: 2px solid $colorA;
                            .male ,.female{
                                @include size(100%, auto);
                                @include flix(start, center, row);
                                input{
                                    width: auto;
                                    position: relative;
                                    &::after{
                                        content: '';
                                        @include size(16px, 16px);
                                        border-radius: 50%;
                                        box-sizing: border-box;
                                        border: 2px solid $colorA;
                                        background-color: $colorC;
                                        @include postion(absolute, 50%, 0, 0, 50%);
                                        @include transform(-50%, -50%);
                                    }
                                    &:checked::after{
                                        background-color: $colorA;
                                    }
                                }
                                label{
                                    padding: 0 8px;
                                    @include color($colorA, transparent, map-get($fontsize, "small"));
                                }
                            }
                        }
                        button{
                            @include mzpd(32px, 0, 8px, 48px);
                            @include color($colorC, $colorA, map-get($fontsize, "small"));
                            @include border($colorA, 20px);
                            &:hover{
                                border-color: $colorC;
                                transition: .3s;
                            }
                            &:focus{
                                border-color: $colorC;
                            }
                        }
                }    
            }
            overflow: hidden;
            .form2{
                display: block;
                transform-origin: bottom center;
                overflow: hidden;
                form{
                    .input{
                        .icon{
                            color: $colorB;
                        }
                        input{
                            color: $colorB;
                            border-color: $colorB;
                            &::placeholder{
                                color: $colorB;
                            }
                        }
                     
                    }
                    button{
                        border-color: $colorB;
                        background-color: $colorB;
                        &:hover &:focus{
                            border-color: $colorB;
                        }
                    }
                        a{
                            position: relative;
                            width: 80%;
                            padding: 8px 16px;
                            font-size: 14px;
                            text-align: right;
                            color: $colorB;
                            &:hover{
                                color: $colorB;
                                text-decoration: underline;
                            }
                        }
                }
            }
        }
        .continue-with{
            margin-bottom: 8px;
            @include flix(center, center, row);
            a{
                background-color: $colorC;
                margin: 0 16px;
                height: 35px;
                @include flix(flex-start, center, row);
                span{
                    @include size(35px, 35px);
                    @include color($colorC, $colorA);
                    text-align: center;
                    line-height: 35px;
                    font-family: 'Righteous', cursive;
                }
                p{
                    height: 100%;
                    line-height: 35px;
                    padding: 0 8px;
                    overflow: hidden;
                    position: relative;
                    &::after{
                        content: '';
                        @include fullsize();
                        @include postion(absolute, 0, auto, auto, -100%);
                        background-color:$colorA ;
                    }
                    &:hover::after{
                        left: 110%;
                        transition: .3s;
                    }
                    &::before{
                        content: '';
                        @include fullsize();
                        @include postion(absolute, 0, auto, auto, -150%);
                        background-color: #ffffff
                    }
                    &:hover::before{
                        left: 110%;
                        transition: .5s;
                    }
                    
                }
                .google:nth-child(1){
                    background-color: $colorB;
                }
                .google:nth-child(2){
                    color: $colorB;
                    &::after{
                        background-color: $colorB;
                    }
                    &::before{
                        background-color: #ffffff;
                    }
                }
            }
        }
        .form-toggler{
            @include size(100%, 75px);
            button{
                display: none;
                @include fullsize();
                @include color($colorC, $colorA, map-get($fontsize, "small")+8px);
                &:hover{
                    background-color: $colorB;
                    transition: .3s;
                }
                &:focus{
                    background-color: $colorB;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        main{
            nav{
                justify-content: center;
                button{
                    display: none;
                }
            }
            .form-area{
                width: 100%;
                .form1{
                    width: 100%;
                    form{
                        button{
                            width: 50%;
                        }
                    }
                }
            }
            .continue-with{
                flex-direction: column;
                a{
                    @include size(80%, 50px);
                    margin: 8px 0;
                    span{
                        @include size(50px, 50px);
                        line-height: 50px;
                    }
                    p{
                        width: 100%;
                        line-height: 50px;
                    }
                }
            }
            .form-toggler{
                button{
                    display: block;
                }
            }
        }
    }
  }